*{
    padding: 0;
    margin: 0;
    -webkit-user-drag: none;
}

html{
    scroll-behavior: smooth;
}

button{
    padding: 0;
    margin: 0;
    border: 0;
    background: 0;
}

@font-face {
    font-family: "Paris2024";
    src: url('../fonts/Paris2024/Paris2024-Variable.ttf') format("truetype");
}
@font-face {
    font-family: "Poppins";
    src: url('../fonts/Poppins/Poppins-Regular.ttf') format("truetype");
}
.font__headings{
    font-family:'Paris2024';
}
.font__body{
    font-family: 'Poppins';
}

:root{
    --black:#333;
    --dark_gray:#474747;
    --light_gray:#888;
    --red:#ED2939;
    --blue:#002395;
    --white:#D5E2F0;

}

.headings__gradient{
    background: linear-gradient(90deg, var(--red), var(--blue));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 70px;
    font-weight: 700;
}

.header{
    position: fixed;
    width: 100vw;
    background-color: white;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    top: 0;
    z-index: 100;
}

header{
    user-select: none;
}

img{
    user-select: none;
}

.header__logo{
    display: flex;
    align-items: center;
    gap: 15px;
}

.nav__links{
    display: flex;
    height: 100%;
    margin-right: 30px;
}
.nav__item{
    display: flex;
    align-items: center;
    padding: 0 30px;
    text-decoration: none;
    color: #333;
    font-weight: 500;
    position: relative;
    font-size: large;
    font-weight: 600;
}

.nav__item::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 3px;
    background-color: #8db9e5; 
    transform: skewX(-25deg); 
}

.nav__links::after {
  content: "";
  width: 3px;
  background-color: #8db9e5;
  transform: skewX(-25deg);
}

.hero{
    position: relative;
    align-items: center;
    margin-top: 80px;
}

.hero__bg{
    width: 100%;
}
.hero__mascot{
    position: absolute;
    bottom: 40px;
    left: 20px;
}
.hero__logo{
    position: absolute;
    top: 190px;
    right: 20px;
}
.hero__text{
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
    font-size: 4.5rem;
    font-weight: 600;
}
.second__line{
    position: absolute;
    font-size: 3.5rem;
    right: 0;
    color: #e8f0f8;
}

.slider__bar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 80px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 1rem;
}

.slider__items{
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 5px 20px 5px 20px;
    height: 2rem;
    border-radius: 3px;
}

.slider__item{
    background-color: white;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    opacity: 0.7;
}

.slider__item:first-child{
    opacity: 1;
}

.slider__bar button{
    position: relative;
    padding: 20px;
    border: 0;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0);
    margin: 10px;
    cursor: pointer;
}

.slider__previous{
    background-image: url('../images/btn-prev.svg');
}
.slider__next{
    background-image: url('../images/btn-next.svg');
}

section{
    background-color: white;
    width: 100%;
    min-height: 800px;
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
    margin-top: -110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.countdown{
    background-color: white;
}

.countdown__lines{
    margin-right: 200px;
}
.event__text{
    font-size: 25px;
    margin-top: 70px;
    color: var(--black);
}
.date__text{
    color: var(--light_gray);
}

.timer{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.time__block{
    text-align: center;
}
.time__block span{
    font-size: 6rem;
    font-weight: 600;
    color: var(--black);
    display: block;
}

.timer p{
    color: var(--light_gray);
    font-size: 1.5rem;
}

.separator{
    font-size: 6rem;
    font-weight: bold;
    color: var(--light_gray);
    margin-bottom: 35px;
}

.timer__logos{
    position: absolute;
    right: 0;
}

.road_to_paris{
    background-color: var(--white);
}

.section__header{
    position: absolute;
    margin-top: -400px;
    margin-bottom: 50px;
}



.rtp__lines{
    margin-left: 180px;
}

.posts{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    position: absolute;
    margin-top: 5rem;
    width: 90%;
    gap: 20px;
}

.posts__item{
    max-height: 400px;
    background-color: #fff;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    border-radius: 3px;
}

.posts__item img{
    height: 50%;
    width: 100%;
    object-fit: cover;
    border-radius: inherit;
}

.posts__item .post__header{
    font-weight: 550;
    font-size: 1.3rem;
}

.posts__item .post__content{
    color: var(--light_gray);
    font-size: 0.85rem;
    max-width: 90%;
}

.posts__rtp .posts__item .post__date{
    color: var(--black);
    font-size: 0.85rem;
    margin-top: 25px;
    margin-bottom: 5px;
}

.posts__item p{
    margin-left: 8px;
    margin-top: 8px;
}
.posts__item h3{
    margin-left: 8px;
    margin-top: 8px;
}

.posts__nav{
    position: absolute;
    right: 0;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: row;
}

.posts__nav button{
    position: relative;
    padding: 20px;
    border: 0;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 10px;
    cursor: pointer;
}

.posts__nav .post__prev{
    background-image: url(../images/btn-prev.svg);
        background-color: rgba(0, 0, 0, 0);
}
.posts__nav .post__next{
    background-image: url(../images/btn-next.svg);
    margin-right: 0;
}

.about_the_games{
    background-color: white;
}


.about__lines{
    position: absolute;
    left: -50px;
}

.posts__about .posts__item{
    max-height: 400px;
    background-color: var(--white);
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    border-radius: 3px;
}


.posts__about .post__content{
    color: var(--black);
}

.posts__about .post__head{
    background-color: var(--red);
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    border-radius: inherit;
}

.posts__about .post__head h2{
    font-weight: 450;
    color: white;
    margin-left: 8px;
    font-size: 1.2rem;
}

.about__logo{
    margin-top: 550px;
}

.olympic_shop{
    margin-top: 50px;
    background-color: var(--white);
}

.shop__lines{
    position: absolute;
    right: -80px;
}

.posts__shop .posts__item{
    height: 310px;
    padding: 0 5%;
}

.posts__shop img{
    border: 1px solid var(--white) ;
    justify-content: center;
    width: 100%;
    height: 60%;
    margin-top: 5%;
}

.posts__shop .post__header{
    font-size: 1.2rem;
    margin-left: 0;
}

.more{
    position: absolute;
    top: -40px;
    right: 0;
    font-weight: 600;
    font-size: 0.9rem;
}

.buy{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5%;
}

.buy__btn{
    padding: 15px 40px;
    background-color: var(--black);
    color: white;
    font-weight: 500;
    font-size: 1rem;
    border-radius: 3px;
    cursor: pointer;
}

.buy .price{
    margin-left: 3.5rem;
    font-size: 2.2rem;
    font-weight: 600;
    color: var(--light_gray);
}

.partners__lines{
    position: absolute;
    left: -30px;
}

.partners__grid{
    margin-top: 100px;
    display: grid;
    width: 80%;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(5, 1fr);
}

.partner__logo{
    margin-top: 40px;
}

.footer__container{
    display: flex;
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
    min-height: 550px;
    width: 100%;
    color: white;
    font-size: 1.2rem;
    position: relative;
}

.footer__left{
    background-color: var(--dark_gray);
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-top: 120px;
    padding-left: 70px;
}

.download{
    margin-top: 20px;
}

.social{
    margin-top: 20px;
}

.footer__right{
    background-color: var(--black);
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-top: 120px;
    padding-left: 70px;
}

.footer__logo{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 300px;
    height: auto;
    width: 270px;
}

.copyright{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
    font-size: 1rem;
}